.Header1_container{
    height: 2.5rem;
    background-color: #1E212C;
    width: 100%;
    font-size: 0.8rem;
}
.arrow{
    font-size: 0.8rem;
}
.flag_img{

    height: 0.9rem;
    width: 1.5rem;
}
@media screen and (max-width: 993px){
    .Header1_container{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 576px) {
    .Header1_container{
        height: 3.5rem;
    }
}