.first {
    background-image: url(/src/Assests/Images/banner1.png);
    height: 24.25rem;
    background-position: center;
    background-size: cover;
}

.second {
    background-image: url(/src/Assests/Images/banner2.png);
    background-position: center;
    background-size: cover;
}

.third {
    background-image: url(/src/Assests/Images/banner3.png);
    height: 24.25rem;
    background-size: cover;
    background-position: center;
}

.four {
    background-color: rgba(229, 232, 237, 1);
    position: relative;
    z-index: -2;
}

.fourth {
    background-image: url(/src/Assests/Images/banner4.png);
    background-repeat: no-repeat;
    width: 283px;
    height: 300px;
    z-index: -1;
    background-size: 283px 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.SubsBtn {
    background-color: rgba(23, 105, 106, 1);
    color: whitesmoke;
}

.ExploreButton {
    border: 1px solid rgba(23, 105, 106, 1);
    color: rgba(23, 105, 106, 1);
    border-radius: 0px !important;
}

@media (min-width:426px) and (max-width:768px) {
    .firstRow {
        margin: 0;
    }

    .first {
        margin-right: 0 !important;
    }

    .third {
        margin-right: 0 !important;
    }

    .secondrow {
        margin: 0;

    }
}

@media (min-width:320px) and (max-width:425px) {
    .first {
        padding: 0;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .firstRow {
        margin: 0;
    }
    .third {
        padding: 0;
        margin-bottom: 15px;
        margin-right: 0 !important;
    }
    .secondrow {
        margin: 0;

    }
}